@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  :root {
    --background: 27 27 27;
    --foreground: 225 225 225;
    --muted: 115 115 115;
    --accent: 220 65 90; 
    /* #FEFE5B */
  }
}


@layer utilities {
.pause {
  animation-play-state: paused;
}
.custom-bg {
  @apply bg-background/50 border border-accent/30 border-solid backdrop-blur-[8px] shadow-glass-inset
  hover:shadow-glass-sm;
}
}

@keyframes rain-fall {
  0% {
    top: 0;
    opacity: 0.8;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    top: 100vh;
    opacity: 0;
  }
}